.footer {
    background-color: #202020;;
}

.footer-icon {
    display: flex;
    gap: 34px;
    justify-content: center;
    
}

.footer-text {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0 30px 0;
}