.header {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    color: #fff;
    
      
    
}   


.header-top {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
            

}

.wrapper-header {
    position: relative;
}

.header-nav {
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 92px;
    background: transparent;
    z-index: 1005;
}

.nav__bg__start {
    position: fixed;
    top: 0;
    width: 100%;
    height: 92px;

    background: #202020;
    z-index: 1003;
  }
  
  .nav__bg {
    position: relative;
    width: 100%;
    height: 92px;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    z-index: 1004;
  }
  
  .nav__bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 92px;
    width: 100%;
    height: 2px;
  }


.header-top-menu {
    display: flex;
    max-width: 595px;
    justify-content: space-between;
    gap: 20px;

    &__href {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 16px;
        border-radius: 20px;
        border: 1px solid #FFF;
    }
  
}

.header-top-short-menu {
    display: none;
}