.banking {
    background-color: #3C3C3C;
}

.banking-contener {
    padding-top: 86px;
    display: flex;
    flex-direction: column;


    &__cart {
        border-radius: 24px;
        background: #FFFEF2;
        padding: 20px 24px;
        position: relative;

        &::after {
            content:url(../../img/arrow.svg);
            display: flex;           
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border-radius: 56px;
            background-color: #FFFFFF;
            position: absolute;
            top: 50px;
            right: 50px;

        }

    }
    &__img {
        width: 100%;
        height: 498px;
        border-radius: 13px;
        object-fit: cover;

    }

    &__title {
        color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-weight: 600;
        padding: 20px 0;
    }

    &__text {
        max-width: 580px;
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
    }

    .banking-contener-carts {
        padding: 63px 0 86px 0;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        
        

        &__cart-block-1 {
            border-radius: 24px;
            background: #FFFEF2;
            padding: 20px;
            position: relative;

            &::after {
                content:url(../../img/arrow.svg);
                display: flex;           
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 56px;
                border-radius: 56px;
                background-color: #FFFFFF;
                position: absolute;
                top: 50px;
                right: 50px;
    
            }
        }

        &__cart-block-2 {
            
            border-radius: 24px;
            background: #FFFEF2;
            padding: 20px;
            position: relative;

            &::after {
                content:url(../../img/arrow.svg);
                display: flex;           
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 56px;
                border-radius: 56px;
                background-color: #FFFFFF;
                position: absolute;
                top: 50px;
                right: 50px;
    
            }
        }

        &__cart-block-3 {
            
            border-radius: 24px;
            background: #FFFEF2;
            padding: 20px;
            position: relative;

            &::after {
                content:url(../../img/arrow.svg);
                display: flex;           
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 56px;
                border-radius: 56px;
                background-color: #FFFFFF;
                position: absolute;
                top: 50px;
                right: 50px;
    
            }
        }

        &__img-block {
            width: 100%;
            height: 338px;
            border-radius: 13px;
            object-fit: cover;
        }

        &__title-block {
            
            color: #565656;
            font-family: DynaPuff;
            font-size: 22px;            
            font-weight: 700;
            padding: 20px 0;

        }

        &__text-block {
            color: #000;
            font-family: Manrope;
            font-size: 16px;            
            font-weight: 500;
        }





    }

   


        
        
    

}
