.good-design {
    background-image: url(../../img/good_diz.jpg);
    background-size: cover;

    &__overdraw {
        background-color: rgba($color: #3C3C3C, $alpha: 0.5);
        width: 100%;
        height: 100%;

    }
    
   
    
}


.good-design__text {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
    padding: 300px 0 320px 0;
    
}