.graphics-design {
    background: #202020;

    &__title {
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-weight: 700;
        padding: 82px 0 38px 0;
    }
   
    &__cart1 {
        display: block;
        width: 100%;
        position: relative;        

        &::before {
            content:url(../../img/star.svg);
            position: absolute;
            display: block;            
            width: 227px;
            height: 227px; 
            top: calc(100% / 5);   
            left: calc(100% / 3); 
            z-index: 1000;      
        }
 
    }

    &__img1 {
        border-radius: 40px;
        width: 100%;
        height: 414px;
        object-fit: cover;
        filter: grayscale(1); 
    }

}

.graphics-design-section {
    display: flex;
    justify-content: space-between;    
    gap: 26px;
    padding: 26px 0 138px 0;

    &__cart2 {
        display: block;
        width: 100%;
        position: relative;      

        &::before {
            content:url(../../img/butterfly.svg);
            position: absolute;
            display: block;            
            width: 227px;
            height: 227px;
            top: calc(100% / 5);   
            left: calc(100% / 4); 
            z-index: 1000; 
        }
 
    }
    
    &__img2 {
        border-radius: 40px;
        width: 100%;
        height: 414px;
        object-fit: cover;
        filter: grayscale(1);
        
    }

    &__cart3 {
        display: block;
        width: 100%;
        position: relative;
        
        &::before {
            content:url(../../img/asterisk.svg);
            display: block;
            position: absolute;
            width: 227px;
            height: 227px;
            top: calc(100% / 5);   
            left: calc(100% / 4); 
            z-index: 1000; 
        }
 
    }
    &__img3 {
        border-radius: 40px;
        width: 100%;
        height: 414px;
        object-fit: cover;
        filter: grayscale(1);
    }

}

