.meet {
    background: #202020;
    min-height: 470px;
    color: #fff;
    position: relative;
    overflow: hidden;


    
   
}

.meet::after {
    content: url('../../img/art.png');
    display: block;
    width: 500px;
    height: 500px;    
    position: absolute;
    right: -100px;
    top: -35px;

}



.meet-content {

    max-width: 540px;
    // position: relative;

    &__title {
        padding-top: 100px;
        color: #FAEB49;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
    }

    &__text {
        padding: 40px 0;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
    }

    &__menu {
        display: flex;
        justify-content: space-between;

       
    }
    &__amount{
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
    }

    &__item {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
    }
   
}
