.order-project {
    background-color: #202020;

    &__contener {
        padding: 73px 0 160px 0;
        margin: 0 auto;
    }
}

.order-project-botom {
    display: block;
    color: #FFF;
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    padding: 42px 137px;
    max-width: 914px;
    

    &__title {
        // text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        padding-left: 150px;
        position: relative;

        &::before {
            content: '';
            display: block;
            background-image: url(../../img/dawn.svg);
            width: 108px;
            height: 108px;
            left: 0;
            position: absolute;
        }
    }

    &__text {
        
        font-family: Manrope;
        font-size: 24px;
        font-weight: 500;
        padding-left: 150px;
        padding-top: 20px;
        position: relative;

        &::after {
            content: url(../../img/group.svg);
            display: block;
            width: 55px;
            height: 26px;
            position: absolute;
            top: 20px;
            left: 350px;
        }
    }


}