.title {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    color: #fff;

    &__name {
        font-family: DynaPuff;
        font-size: 80px;
        font-weight: 700;
        padding: 400px 0 115px 0;
        
    }
}


