@media (min-width: 768px) and (max-width: 1200px) { 
    
    .wrapper {
        
        padding: 0 34px;
    }

    .header-top {
        padding: 0 34px;
    }

    .title__name {
        padding-top: 180px;
    }

    .banking-contener-carts__img-block {
        height: 448px;
    }

    .good-design__text {
        
        padding: 270px 0 290px 0;
    }

    .meet::after {
        
        width: 345px;
        height: 345px;    
        right: -100px;
        
    
    }

}

@media (max-width: 768px) { 
    
    .wrapper {
        
        padding: 0 17px;
    }

    .header-top {
        padding: 0 17px;
    }

    .title__name {
        padding-top: 320px;
        font-size: 48px;
    }

    .meet-content__title {
        padding-top: 72px;
        font-size: 36px;
    }

    .banking-contener-carts__cart-block-1 {
        display: none;
    }

    .graphics-design__title {
        padding-top: 58px;
        font-size: 36px;
    }

    .graphics-design__section {
        flex-direction: column;
        padding-bottom: 93px;
    }

    .good-design__text {
        font-size: 24px;
        
        padding: 180px 0 173px 0;
    }

    .meet::after {
        content: url('../../img/art.png');
        display: block;
        width: 500px;
        height: 500px; 
        transform: scale(0.5);   
        position: absolute;
        
    
    }

    .graphics-design-section {
        flex-direction: column;
    }

    .graphics-design__cart1::before {
        top: calc(100% / 7);   
        left: calc(100% / 6); 
    }

    .order-project-botom__title {
        font-size: 20px;
    }

    .order-project-botom__title::before {
        content: '';
        display: block;
        background-image: url(../../img/dawn.svg);
        width: 108px;
        height: 108px;
        left: 40px;
        top: -20px;
        position: absolute;
        transform: scale(0.5);
    }

    .order-project-botom__text {
        font-size: 15px;
    }

    .order-project-botom__text::after {
        content: url(../../img/group.svg);
        display: block;
        width: 55px;
        height: 26px;
        position: absolute;
        top: 15px;
        left: 250px;
        transform: scale(0.5);
    } 


}


@media (max-width: 1200px) { 
   
    .header-top-menu {
        display: none;
    }

    .header-top-short-menu {
        
        display: contents;
    }

    .banking-contener-carts__cart-block-3 {
        display: none;
    }

    .graphics-design__img2 {
        height: 325px;
    }

    .graphics-design__img1 {
        height: 325px;
    }

    .order-project-botom {
        
        padding: 20px 30px;
    }

}


